<div class="header">ABOUT US</div>
  <div class="para"><p>Anupam Bharat Sangh NGO is a non-profit organization, dedicated to help underprivileged people 
  around our area South west Delhi. We work on providing education, health care facilities, 
  corrective surgeries and helping and distributing the required items. Along with mental and 
  environmental awareness programs. Our volunteers are well disposed and available to provide 
  any services 24/7. We work on overall aspects of society to make one’s life better and healthy. <br>
  Vision- So far we have enrolled many underprivileged kids in government school and sponsored 
  their education expenses. Also, we frequently arrange healthcare camps in slum areas for 
  routine check-up of these underprivileged peoples. We try our best to make their necessities 
  fulfilled. During this Covid-19 crisis we had distributed raw food items and other necessary 
  stuffs to the peoples who were in need. Mission- we want to provide education to as many 
  underprivileged kids possible. No kid should deprived of education due to poverty or 
  lack of resources. Women should be financially independent and free from any kind of 
  violence and abuse. Environmental awareness programs to make surrounding better and it’s 
  preservation.</p></div>
  <div>
<div class="header2">VALUES</div>
<div class="para">● Respect of human rights The obligation of states to respect human rights means that they must 
refrain from interfering with or cutting- down the enjoyment of human rights. Human rights ensures
 that each person must have food, housing and clothing along with liberty, equality and security 
 against any kind of abuse. </div><br>
<div class="para">● Commitment Our NGO encourages people to take commitments against
  challenging situations to do any possible efforts to improve deprived people’s life. </div><br>
  <div class="para">● Excellence Our entire team of Anupam Bharat Sangh is hardly working towards achieving 
  the quality of work that people can appreciate. We are trying our best to being true to
   people and fulfill all the commitments. </div><br>
   <div class="para">● Integrity We are totally devoted and working
    honestly, following all moral and ethical principles to do right thing in any circumstances.
     We would do nothing to dishonor anybody or any other organization.</div><br>

    </div>
    <div>
<div class="header2">AIM AND OBJECTIVES
    <div class="para">1. Our paramount focus is on imparting education to each and every youth and adult.</div><br>
        <div class="para">2. Promote Women empowerment.</div><br>
            <div class="para">3. Create awareness regarding mental health issues. </div><br>
                <div class="para">4. Take necessary and suitable action against any kind of violence occurred either on women, children or old age individuals.</div><br>
                    <div class="para">5. Encouragement towards Environment protection.</div><br>
                </div><br><br><br>

                <div id="legal-heading"> <label>Legal Status</label></div><br><br>
                <div id="details">
                    <div id="org-name"><label>Anupam Bharat Sangh</label></div>
                    <div>
                        <div>We are registered NGO under Societies Registration Act.</div><br><br>

                                <span>TRUST Registration Number is – S/ND/648/2018.</span><br><br>



                                           

                                                   <div>Bank Account Details </div><br><br>
<span>Account Holder Name – Anupam Bharat Sangh</span><br><br>

<span>A/C  Number – 50200055939844</span><br><br>

<span>Branch IFSC – HDFC0001375</span><br><br>

<span>Branch Name – HDFC BANK NEAR ADITYA APARTMENT  D BLOCK JANAK PURI-110058 NEW DELHI</span><br><br>

                                             




                    </div>
                </div>



