<div>
    <div id="heading">INTERNSHIP PROGRAMS</div><br><br>
<div class="wrapper">
<div class="heading-inner">Social Media</div><br>
<div class="content"><p>Volunteers who can help in developing creative written content for handing social media platforms like Instagram, Facebook and Twitter.  
</p></div>
</div><br>


<div  class="wrapper">
<div class="heading-inner">Surveys</div>
  <div class="content"><p>Volunteers who can gather feedback or information regarding the services provided by NGO that what needs to be improve and where we can work more to make it better.  
 </p></div>
</div><br>

<div class="wrapper">
<div class="heading-inner">Fundraising</div>
  <div class="content"><p>Volunteers who can support us in reaching out to the people who can donate for our NGO. Should help us in fundraising.  
 </p></div>
</div><br>

<div class="wrapper">
<div class="heading-inner">Project report</div>
  <div class="content"><p>Volunteers who can help us with update of our new or ongoing project progress report without any errors.  
 </p></div>
</div><br>

<div  class="wrapper">
<div class="heading-inner">Research Development</div>
  <div class="content"><p>Research and development, here volunteers needs to develop or innovative services of our NGO and should work on improving them.  
 </p></div>
</div><br>

<div class="wrapper">
    <div class="heading-inner">Marketing</div>
  <div class="content"><p>Volunteers should reach out to more people and make them aware about our NGO services either virtual marketing through social media or directly reaching out to them.  
 </p></div>
</div><br>

<div class="wrapper">
    <div class="heading-inner">Teaching</div>
  <div class="content"><p>Volunteers who can help us in teaching and learning those kids along with other creative skills like drawing, sketching and painting.
</p></div>
</div>
</div>
