<!DOCTYPE html>
<html>
    
    <body>
        <div id="volunteering-header"><label>Volunteering Programs</label><br>
            <div class="tag">
                <div class="heading">1. Media and communication</div>
                <div class="content"><p>We need volunteers who can help our NGO with all kinds of communication skills, like designing of logo, video editing, picture editing, PR managing and photography with ensuring our communication should be effective and to
                    bring about positive social impact on audiences.</p></div>
            </div><br><br>
            <div class="tag">
                <div class="heading">2. Performing arts</div><br>
                <div class="content">Volunteers who can support children and youth in the pursuit and attainments of arts, dance, singing, handcrafts  etc.</div>
            </div><br><br>
            <div class="tag">
                <div class="heading">3. Academics</div><br>
                <div class="content">Volunteers with having basic knowledge of primary education from class 1st to 10th, who can help us in teaching and re-creative involvement of teaching
                    methods.</div>
            </div><br><br>
            <div class="tag">
                <div class="heading">4. Indoors and outdoors sports</div><br>
                <div class="content">Volunteers assisting in easy indoor activities for kids, like chess, ludo, Quiz or inexpensive hand-made games that are easy to play in slum areas to refresh their brain.</div>
            </div>
        </div>
    </body>
</html>
