<div id="gallery-holder">
    <div id="details-card">
        <div class="innerdiv">
            <img src="../../assets/education.jpg" alt="">
            
        </div>
        <div class="para-sect">
            <div class="header-sect"><label> Education</label></div>
            <div class="para-sect"><p>We all are in the century where everything is
                 growing up everyday, we observe that the world is changing 
                 seconds by seconds and this all happens because of technology and 
                 research which is done by our engineers, scientists, doctors, and other
                  working professionals.
            </p></div>
        </div>
        
    </div>
    <div id="details-card">
        <div class="innerdiv">
            <img src="../../assets/health.jpg" alt="">
        </div>
        <div class="para-sect">
            <div class="header-sect"><label>Health</label></div>
            <div class="para-sect"><p>People have everything in their life
                 money, house, well-settled family, relative, etc, 
                 but they do not have a good health. We see 
                 that many people have lots of health related issues in their life.</p></div>
        </div>
        
    </div>
    <div id="details-card">
        <div class="innerdiv">
            <img src="../../assets/women-empowerment.jpg" alt="">
            
        </div>
        <div >
            <div class="header-sect"><label>Women Empowerment</label></div>
            <div class="para-sect"><p>Everybody talk about gender equality, 
                what is meaning of gender? 
                It define that person is male or female. 
                Now people are saying that male and female 
                organs are different, so how gender equality is implemented.
            </p></div>
            
        </div>
    </div>

</div>
