<html>
<head>
    <title>Home</title>
</head>
<header></header>
<body>
    <div id="theme-pic">
            <img src="../../assets/Child-Support.jpg" alt="">
    </div>
    <div id="charity-tag"><p>Come and Donate to help us improve a needy's life.</p>
    <button pButton type="button" class="p-button-raised p-button-rounded" ><a href="/donate-now" >Donate Now</a></button>
    </div>
    <div>
        <app-gallery-component></app-gallery-component>
        <div id="impact">
            <div id="left-bar">                
            <div id="Impact-Lbl"><label>IMPACT FOOTPRINTS</label></div>
            <div id="about-para"><p>Underprivileged people, who are not privileged or doesn’t have any advantage, living in slum areas and on the streets, leading their life where there’s no food and clean drinking water, no money, deprived of sanitization facilities and proper houses.</p></div>
            <div id="know-button"><button type="button" class="btn btn-primary" >Know More</button></div>
            </div>
            <div id="right-bar">
                <div id="image-container"><img src="../../assets/image-container.jpg"></div>
            </div>
        </div><br><br>
        <div id="my-footer">
           
            <div id="about-sect">
                <div id="org-name-footer"><label>Anupam Bharat Sangh</label></div><br><br>
                <div id="fb-link"><a href="https://www.facebook.com/anupam.bharatsangh"><img src="../../assets/print-198692942.jpg" alt=""></a></div>
                <div id="org-address-footer"><label> Address- RZ-135A/91, Gali No-2 , East Sagarpur New, Delhi-110046</label></div>
            </div>
        </div>
            
    </div>
    
</body>


</html>
